/* add bg img */
body {
    background-image: url(The_Grand_Budapest_Hotel_bg.png);
    background-size: cover;
    background-position: top center;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* style logo */
#logo {
    max-width: 700px;
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* style card */
.card {
    background-color: #F094B4;
    opacity: 90%;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
    max-width: 913px;
    width: 100%;
    height: auto;
    padding-top: 15%;
    padding-bottom: 15%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
