/* add bg img */
body {
    background-image: url(The_Grand_Budapest_Hotel_bg.png);
    background-size: cover;
    background-position: top center;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* style logo */
#logo {
    max-width: 700px;
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* style card */
#questionContainer {
    background-color: #F094B4;
    opacity: 90%;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
    max-width: 913px;
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question{
    text-align: center;
}

/* style choices container */
#choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* style choices button */
.choiceButton {
    background-color: #96A7DB;
    color: #FAD880;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 2%;
    margin: 2%;
    width: 80%;
}

#nextButton {
    background-color: #FAD880;
    color: #96A7DB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 2%;
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* style color when click on correct answer */
.correct {
    background-color: #A8FFBB;
}

/* style color when click on wrong answer */
.wrong {
    background-color: #CE0D10;
}